:root {
    --primary-color: #D50909;
    --background-dark: #1f1f1f;
    --background-light: #f9f9f9;
    --text-color-light: #000; 
    --text-color-dark: #f9f9f9; 
    --red-text: #D50909;
    --border-red: #D50909;
    --card-bg-light: #ffffff;
    --card-bg-dark: #2a2a2a;
    --text-light: #fff ;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

body {
    overflow-x: hidden;
    background-color: var(--background-light);  
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background-color: var(--background-dark);
    color: var(--text-light);
    border-bottom: 2px solid var(--border-red);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.logo {
    font-size: 1.5em;
    font-weight: 700;
    color: var(--text-light);
}

.nav-links ul {
    list-style: none;
    display: flex;
    align-items: center;
}

.nav-links li {
    margin-left: 30px;
}

.nav-links a {
    padding-top: 10px;
    margin-top: 10px;
    text-decoration: none;
    color: var(--text-light);
    font-weight: 400;
    font-size: 1.0em;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: var(--primary-color);
    text-shadow: 0 0 5px rgba(213, 9, 9, 0.5);
}


.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    min-height: 100vh;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    border-top: none;
}

.hero-content {
    flex: 1;
    padding: 50px;
}

.greeting {
    font-size: 2.0em;
    color: var(--text-dark); 
    margin-bottom: 5px;
}

.nome {
    font-size: 3.5em;
    font-weight: 600;
    line-height: 1.1;
    color: var(--red-text);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.05);
    opacity: 0; 
    animation: fadeInUp 1.2s ease-out forwards;
    animation-delay: 0.5s; 
}

.nome:hover {
    
    transform: scale(1.01);   
    text-shadow: 0 0 10px rgba(213, 9, 9, 0.8), 1px 1px 2px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease, text-shadow 0.3s ease; 
    cursor: default; 
}

.ultimo_nome {
    font-size: 3.5em;
    text-align: display;
    font-weight: 600;
    color: var(--red-text);
}


.avatar-placeholder {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.avatar-placeholder img {
    width: 350px;
    height: 450px; 
    object-fit: cover; 
    border-radius: 50%;
    transition: box-shadow 0.4s ease, border-color 0.4s ease; 
    box-shadow: 0 0 15px rgba(213, 9, 9, 0.4); 
}

.avatar-placeholder img:hover {
    box-shadow: 0 0 30px rgba(213, 9, 9, 0.8); 
    border-color: #a30606; 
}

.sb {
    font-size: 3.5em;
    font-weight: 600;
    color: var(--red-text);
    text-align: center;
    margin-bottom: 100px;
}

.theme-btn {
    background: transparent;
    color: #000;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 1rem;
    margin-left: 20px;
}

.theme-btn svg{
    width: 20px;
    color: #fff;
}

.text {
    margin-top: 50px;
    text-align: center;
    font-size: 40px;
}

.hb {
    text-align: center;
    font-size: 3.5em;
    font-weight: 600;
    color: var(--red-text);
    margin-top: 100px;
}

.hb1 {
    width: 300px;
    height: 130px;
    background-color: #D9D9D9;
    font-size: 3.5em;
    color: #D50909;
    text-align: center;
}

#habilidades {
    padding: 60px 20px;
    text-align: center;
    background-color: #f9f9f9;
}

#habilidades h2 {
    font-size: 3em;
    color: #D50909;
    margin-top: 100px;
    margin-bottom: 90px;
    display: inline-block;
    padding-bottom: 5px;
}

.habilidades-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    max-width: 100%;
    margin: 0 auto;
}

.habilidade-item {
    width: 420px;
    height: 200px;
    background-color: var(--card-bg-light);
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
    text-align: center;
}

.habilidade-item:hover {
    transform: translateY(-8px);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2), 0 0 20px rgba(213, 9, 9, 0.4);
    border-color: var(--primary-color);
}

.habilidade-item .icon {
    font-size: 1.5em;
    color: #D50909;
    padding: 5px 10px;
    margin-bottom: 5px;
}

.habilidade-item p {
    font-size: 1em;
    font-weight: bold;
    color: #D50909;
    margin: 0;
}

#projetos {
    padding: 80px 20px;
    text-align: center;
    background-color: #f9f9f9;
}

#projetos h2 {
    font-size: 3em;
    color: #D50909;
    margin-bottom: 60px;
    display: inline-block;
    padding-bottom: 5px;
}

.projetos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 900px;
    margin: 0 auto;
    gap: 30px;
}

.projeto-item {
    width: 420px;
    height: 200px;
    background-color: var(--card-bg-light);
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
    text-align: center;
}

.projeto-item:hover {
    transform: translateY(-8px);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2), 0 0 20px rgba(213, 9, 9, 0.4);
    border-color: var(--primary-color);
}


.projeto-item h3 {
    font-size: 1.5em;
    color: #D50909;
    margin-bottom: 10px;
}

.projeto-item p {
    font-size: 0.9em;
    margin: 0;
}

.projeto-item a {
    color: #d50909;
    text-decoration: none;
    word-break: break-all;
}

.projeto-item a:hover {
    text-decoration: underline;
    transform: translateY(-8px);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2), 0 0 20px rgba(213, 9, 9, 0.4);
    border-color: var(--primary-color);
}

#contato {
    padding: 80px 20px 40px;
    text-align: center;
    background-color: #f9f9f9;
}

#contato h2 {
    font-size: 3em;
    color: #D50909;
    margin-bottom: 60px;
    display: inline-block;
    padding-bottom: 5px;
}

.contato-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 900px;
    margin: 0 auto;
    gap: 30px;
}

.contato-item {
    width: 420px;
    height: 200px;
    background-color: var(--card-bg-light);
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
    text-align: center;
}

.contato-item:hover {
    transform: translateY(-8px);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2), 0 0 20px rgba(213, 9, 9, 0.4);
    border-color: var(--primary-color);
}

.contato-item h3 {
    font-size: 1.2em;
    color: #D50909;
    margin-bottom: 50px;
    border-bottom: 1px solid #a05252;
    padding-bottom: 3px;
}

.contato-item p {
    font-size: 0.9em;
    margin: 0;
}

.contato-item a {
    color: #D50909;
    text-decoration: none;
    word-break: break-all;
}

.contato-item a:hover {
    text-decoration: underline;
    color: #D50909;
    transform: translateY(-8px);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2), 0 0 20px rgba(213, 9, 9, 0.4);
    border-color: var(--primary-color);
}


.rodape {
    background-color: #222222;
    color: #eeeeee;
    text-align: center;
    padding: 30px 0; 
    font-size: 0.8em;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.social-links {
    display: flex;
    gap: 25px;
    margin-bottom: 5px;
}

.social-icon {
    display: block;
    width: 35px; 
    height: 35px;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.social-icon img {
    width: 100%;
    height: 100%;
    filter: grayscale(100%) brightness(1.5); 
    opacity: 0.8;
    transition: filter 0.4s ease, transform 0.4s ease;
}


.social-icon:hover img {
    filter: grayscale(0%) brightness(1); 
    transform: scale(1.15) translateY(-3px); 
    opacity: 1;
}


body.dark-mode .rodape {
    background-color: #000;
}

.rodape p {
    margin: 0;
}


body.dark-mode {
    background-color: #1f1f1f;
    --text-color-light: #f9f9f9;
    --text-color-dark: #f9f9f9;
    
}

body.dark-mode .navbar {
    background-color: #121212;
    color: #f9f9f9;
    border-bottom: 2px solid #D50909;
}

body.dark-mode .nav-links a {
    color: #f9f9f9;
}

body.dark-mode .nav-links a:hover {
    color: #D50909;
}

body.dark-mode .hero-section,
body.dark-mode #habilidades,
body.dark-mode #projetos,
body.dark-mode #contato {
    background-color: #1f1f1f;
    color: #f9f9f9;
}

body.dark-mode .text {
    color: #f9f9f9; 
}

body.dark-mode .habilidade-item,
body.dark-mode .projeto-item,
body.dark-mode .contato-item {
    background-color: var(--card-bg-dark);
    border: 1px solid #444;

}


body.dark-mode .habilidade-item:hover,
body.dark-mode .projeto-item:hover,
body.dark-mode .contato-item:hover {
    transform: translateY(-8px);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5), 0 0 20px rgba(213, 9, 9, 0.6); 
}

body.dark-mode .rodape {
    background-color: #000;
    color: #f9f9f9;
}


@media (min-width: 1200px) {
    .hero-section {
        flex-direction: row;
        text-align: left;
    }
}

@media (max-width: 992px) {

    .navbar {
        flex-direction: column;
        padding: 20px;
        text-align: center;
    }

    .nav-links ul {
        flex-direction: column;
        gap: 15px;
        margin-top: 10px;
    }

    .hero-section {
        flex-direction: column;
        padding-top: 120px;
        text-align: center;
    }

    .hero-content {
        padding: 20px;
    }

    .greeting {
        font-size: 2.0em;
        color: var(--text-color-light);
        margin-bottom: 5px;
    }

    .nome {
        font-size: 2.5em;
    }

    .avatar-placeholder {
        padding: 20px;
    }

    .avatar-placeholder img {
        width: 250px;
        height: 250px;
    }

    .text {
        margin-left: 10%;
        margin-right: 10%;
        font-size: 22px;
    }

    .habilidade-item,
    .projeto-item,
    .contato-item {
        width: 80%;
        height: auto;
        padding: 20px;
    }
}


@media (max-width: 768px) {

    .navbar {
        padding: 15px;
    }

    .logo {
        font-size: 1.3em;
    }

    .theme-btn {
        margin-top: 10px;
        padding: 5px 8px;
        font-size: 0.9em;
    }

    .hero-section {
        flex-direction: column;
        text-align: center;
        padding: 100px 10px 40px;
    }

    .greeting {
        font-size: 1.5em;
    }

    .nome {
        font-size: 2em;
        line-height: 1.2;
    }

    .avatar-placeholder img {
        width: 180px;
        height: 180px;
    }

    .sb,
    #habilidades h2,
    #projetos h2,
    #contato h2 {
        font-size: 2.2em;
    }

    .text {
        font-size: 18px;
        margin: 0 8%;
    }

    .habilidades-container,
    .projetos-container,
    .contato-container {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .habilidade-item,
    .projeto-item,
    .contato-item {
        width: 90%;
    }

    .rodape {
        font-size: 0.8em;
        padding: 10px 5px;
    }
}


@media (max-width: 480px) {

    .navbar {
        padding: 10px;
    }

    .logo {
        font-size: 1.1em;
    }

    .nav-links ul {
        gap: 10px;
    }

    .nome {
        font-size: 1.8em;
    }

    .greeting {
        font-size: 1.3em;
    }

    .text {
        font-size: 16px;
        margin: 0 5%;
        text-align: justify;
    }

    .habilidade-item,
    .projeto-item,
    .contato-item {
        width: 95%;
        padding: 15px;
    }

    .avatar-placeholder img {
        width: 150px;
        height: 150px;
    }
}
.contact-form-container {
    flex: 2;
    min-width: 400px;
    background-color: #646464;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    padding-bottom: 70px;
}

.contact-form .form-row {
    display: flex;
    gap: 20px;
    margin-bottom: 10px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 15px;
    border: 1px solid #afafaf;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 1em;
    margin-bottom: 20px;
    outline: none;
    transition: border-color 0.3s;
}

.contact-form input:focus,
.contact-form textarea:focus {
    border-color: #D50909;
}

.contact-form textarea {
    resize: vertical;
}

.submit-button {
    background-color: var(--primary-color);
    color: #000;
    border: none;
    padding: 18px 35px;
    font-size: 1.1em;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.1s ease;
    width: auto;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.submit-button:hover {
    background-color: #a30606;
    transform: scale(1.02);
}

.submit-button:active {
    transform: scale(0.98);
}


.dot {
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: rgba(213, 9, 9, 0.5); 
    pointer-events: none;
    animation: 
        float 15s infinite ease-in-out alternate, 
        fade 5s infinite ease-in-out alternate;   
    opacity: 0; 
    transition: background-color 0.5s ease; 
}


@keyframes float {
    0% {
        transform: translate(0, 0) scale(1);
    }
    50% {
        transform: translate(10vw, -15vh) scale(1.1);
    }
    100% {
        transform: translate(0, 0) scale(1);
    }
}


@keyframes fade {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.8;
    }
    100% {
        opacity: 0;
    }
}


body.dark-mode .dot {
    background-color: rgba(255, 255, 255, 0.4); 
}

#floating-background {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100vw; 
    min-height: 100vh; 
    z-index: 99; 
    pointer-events: none;
    overflow: hidden;   
    height: 30000px;
}

.git{
    color: #fff;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }

}
